# 后端
backend/__pycache__/
backend/.env
backend/.venv/
backend/venv/
backend/env/
backend/app/data/shares.json
backend/app/data/dialog_streams/

# 前端
frontend-ts/node_modules/
frontend-ts/dist/
frontend-share/node_modules/
frontend-share/.next/
frontend-share/out/
frontend-share/.env
frontend-share/.env.sentry-build-plugin

# 通用
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*~
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnpm-store/
chroma*

# 测试
.pytest_cache/
coverage/
evaluate_*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

github_key
github_key.pub

actions-runner/
node_modules/
