fastapi
uvicorn
uvloop
langchain
langchain-openai
openai
python-dotenv
replicate
sse-starlette
pydantic
pydantic-settings
pytest
pytest-asyncio
requests
requests-file
httpcore==1.0.9
httpx==0.28.1
langchain-community
duckduckgo-search
chromadb
pandas
bs4
rank-bm25
